*{
    margin: 0;
    padding: 0;
    text-align: center;
}

h1{
    background-color: rgb(33, 16, 187);
    color: white;
    height: 5rem;
    line-height: 5rem;

}
.choices{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    margin-top: 5rem;
}
.choice{
    height: 11rem;
    width: 11rem;
    border-radius:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.choice:hover{
    cursor: pointer;
    background-color: black;
}
img{
    height: 10rem;
    width: 10rem;
    object-fit: cover;
    border-radius:50%;
}
.scoreboard{
    display: flex;
    justify-content: space-evenly;
    margin-top: 7rem;
    align-items: center;
    font-size: 1.5rem;
}

#user-score, #comp-score{
    font-size: 3.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 75;
}
.msg-container{
    margin-top: 5rem;
}
#msg{
    background-color:rgb(2, 4, 32);
    color: white;
    /* margin-top: 5rem; */
    font-size: 2rem;
    padding: 0.5rem;
    display: inline;
}